#stop {
  display: none;
}

.container {
  display: grid;
  grid-gap: 0rem;
  grid-template-columns: 5fr 1fr 5fr 1fr;
  grid-template-rows: 5fr 5fr;
  grid-template-areas: "speedo y compass o" "speedo z compass x";
}

#speed {
  grid-area: speedo;
}

#orientation {
  grid-area: compass;
}

canvas {
  width: 100%;
  height: 100%;
}

#y {
  grid-area: y;
}

#z {
  grid-area: z;
}

#x {
  grid-area: x;
}

#controls {
  grid-area: o;
}